@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  margin: 0;
  
  max-width: 825px;
  
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 825px;
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  font-family:Helvetica;
}

.title {
  color: #A8904E;
  font-size: 11px;
  padding-left: 90px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  margin-right: 30px;
  
}

a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}


a:hover{
  color: #A8904E;
}


.section1 {
    display: flex;
    background: url(./images/image3.png) no-repeat;
    background-position-y: 0;
    color: white;
    text-align: center;
  
    background-size: 825px 731px;
    min-height: 550px;
    background-attachment: fixed;
}

.section1-text {
  position: absolute;
  font-size: 40px;
  top: 154px;
  left: 224px;
  line-height: 30px;
  font-family: 'EB Garamond';
  letter-spacing: 12px;

}

.section2 {
    display: flex;
    margin: 45px;
    text-align: center;
}
.left-image {
  width: 38%;
  height: 400px;
  background: url(./images/flower.png) no-repeat;
  background-size: 268px 400px;
}
.right-image {
  width: 64%;
  height: 400px;
  background: url(./images/image1.png) no-repeat;
  margin-left: 50px;
  background-size: 445px 400px;
}

.left-image-text1 {
  color: white;
  position: absolute;
  top: 738px;
  left: 83px;
  letter-spacing: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
.left-image-text2 {
  color: white;
  position: absolute;
  top: 839px;
  left: 91px;
  display: flex;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 2.0;
  font-family: 'Times New Roman', Times, serif;

}
.left-image-button {
  color: white;
  border-color: white;
  background: none;
  top: 946px;
  left: 83px;
  position: absolute;
  padding: 8px 62px;
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
}

.section3 {
  margin: 100px;
  text-align: center;
  height: 196px;
  font-family: Times New Roman;
  margin-bottom: 150px;
}

.section3 img {
  width: 31px;
  height: 31px;
 
}

.section3-testimonial{
  line-height: 1.4;
  letter-spacing: 2.5px;
  font-size: 25px;
}

/* .section3-testimonial p{
  font-size: 30px;
} */

.section3-name{
  color: #A8904E;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding-top: 16px;
  font-family: Arial, Helvetica, sans-serif;

  transform: translate(-4px, 10px);
}

.section4 {
  display: flex;
  background: url(./images/image2.png) no-repeat;
  background-position-y: 54px;
  color: white;
  text-align: center;
  background-size: 780px 668px;
  min-height: 480px;
  background-attachment: fixed;
  margin-left: 45px;
  margin-right: 45px;
}


.section4-image {
  position: absolute;
 
  width: 229px;
  height: 408px;
  background: url(./images/flower.png) center/cover no-repeat;
  transform: translate(466px, 22px);
  background-size: 231px 407px;
}

.section4-text1{
  color: white;
  letter-spacing: 8px;
  position: absolute;
  /* top: 50px; */
  /* left: 50px; */
  font-size: 25px;
  transform: translate(37px, 64px);

}

.footer-vertical-line{
  border-left: 1px solid white;
  height: 38px;

  
}

.section4-text2{
  color: white;
  position: absolute;
  top: 171px;
  left: 49px;
  display: flex;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 2.0;
  font-family: 'Times New Roman', Times, serif;
}

.section4 button{
  color: white;
  border-color: white;
  font-size: 12px;
  background: none;
  top: 288px;
  left: 38px;
  position: absolute;
  padding: 8px 45px;
  border-style: solid;
  border-width: 1px;
}

footer {
  display: flex;
  align-items: center;
  margin: 45px;
  background-color: #A8904E;
  color: white;
  /* width: 735px; */
  height: 137px;
  margin-top: 60px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.footer-section1{
  padding-right: 10px;
  /* border-right: white solid 1px; */
  margin-left: 60px;
  height: 60px;
 
 
  
}

.footer-section2{
  padding-right: 10px;
  /* border-right: white solid 1px; */
  height: 60px;
  margin-left: 10px;
  
}

.footer-section3{
  margin-left: 10px;
  height: 60px; 
}

.footer-section1 p{
  font-size: 12px;
  letter-spacing: 1px;
  transform: translate(2px, -3px);

}
.footer-section2 p{
  font-size: 12px;
  letter-spacing: 1px;
  transform: translate(2px, -3px);
}
.footer-section3 p{
  font-size: 12px;
  letter-spacing: 1px;
  transform: translate(2px, -3px);
}
footer button{
  color: white;
  background: none;
  margin-left: 100px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 10px 20px;
  font-size: 10px;
  transform: translate(-44px, 8px);
}